<main class="main">
  <div class="inner">
      <% if user_signed_in? %>
    Hello, <%= link_to "#{current_user.nickname}", '#', class: :greeting__link %>
    <% end %>
    <div class="card__wrapper">
      <% @cds.each do |cd| %>
        <%= render partial: 'cd', locals: { cd: cd } %>
      <% end %>
    </div>
    </div>
  </div>
</main>